header {
    display: flex ;
    justify-content: space-between;
    background-color: #BFC1C4;
    border-bottom: 10px solid #08090A;
    padding: 10px 20px ;
}

nav {
    text-align: right;
}

a {
    display: inline-flex ;
    align-items: center ;
    color: #000;
    font-size: 20px;
    font-family: "Fira Code", "Arial", "Helvetica", "sans-serif";
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    transition: color 0.4s ease; /* Tempo de transição da mundaça de cor do texto */
}


/*pseudo-class , cria os botões do antes dos links*/
a::before{  
    content: "" ;
    background-color: #A7A2A9;
    width: 10px ;
    height: 10px ;
    margin-right: 10px ;
}

/*Botão download cv*/
#button {
    display: inline-block;
    background-color: #A7A2A9;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #08090a;
    margin-right: 0;
    transition: background-color 0.4s ease, transform 0.4s ease; /* faz uma transição de cor suave */
}

/* Estilização do button */
#button:hover {
    background-color:#08090a ; 
    color: #FFF;
    box-shadow: 5px 5px 0 #A7A2A9;
    transform: scale(1.1); /* ao passar o mouse sobre mudará o tamanho */

}

/* Estilização links */
a:hover {
    color: #fff;
}