.progress-bar {
    box-sizing: border-box;
    background-color: #fff;
    border: 5px solid #000;
    height: 40px;
    width: 100%; 
}

.progress-bar::-webkit-progress-bar {
    background-color: #fff;
}

.progress-bar::-webkit-progress-value {
    background-color: #ff87ab;
}

.progress-bar::-moz-progress-bar {
    background-color: #ff87ab;
}
