.skills {
    background-color: #F2B5D4;
    box-sizing: border-box;
    height: 800px;
    border-bottom: 10px solid #000; 
    padding-top: 40px;
}

.skills .subtitle {
    text-align: center; 
    font-size: 40px;
}